
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myWordLabel" data-translate="dictionaryApp.word.home.createOrEditLabel">Create or edit a Word</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.word.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.word.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dictionaryApp.word.swedish" for="field_swedish">Swedish</label>
            <input type="text" class="form-control" name="swedish" id="field_swedish"
                    ng-model="vm.word.swedish"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dictionaryApp.word.hungarian" for="field_hungarian">Hungarian</label>
            <input type="text" class="form-control" name="hungarian" id="field_hungarian"
                    ng-model="vm.word.hungarian"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dictionaryApp.word.english" for="field_english">English</label>
            <input type="text" class="form-control" name="english" id="field_english"
                    ng-model="vm.word.english"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dictionaryApp.word.comment" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                    ng-model="vm.word.comment"
                     />
        </div>

        <div class="form-group">
            <label data-translate="dictionaryApp.word.type" for="field_type">Type</label>
            <select class="form-control" id="field_type" name="type" ng-model="vm.word.type" ng-options="type as type.name for type in vm.types track by type.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
